body {
  font-family: Georgia, serif;
}

  header {
    background: black;
  }
  
  header h1 {
    color: salmon;
    font-size: 3em;
    font-style: italic;
    text-align: center;
    padding: 1em;
  }
  
  header nav {
    background: salmon;
  }
  
  header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  header nav ul li {
    color: black;
    display: inline-block;
    padding: 1em 0;
    text-align: center;
    width: 100px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: white;
  }
  
  h1, h2 {
    font-family: Righteous;
    margin-left: 1rem;
    font-weight: bold;
  }

  legend {
    font-family: Righteous;
    color: salmon;
    font-weight: bold;
    padding: 0 1rem;
  }

  fieldset {
    border: 1px solid black;
    width: 80%;
    margin: 0 auto 3rem auto;
    padding: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
  }

  .custom-li {
    font-weight: normal;
    font-size: 16px;
  }
  
  .custom-td {
    background-color:  gray;
    color: white;
    border: 0px;
    text-align: center;
  }

  .custom-store {
    text-align: left;    
  }

  footer {
    background: #ccc;
    padding: 3em;
    text-align: center;
  }

  .sales-data {
    font-family: Arial, sans-serif;
}

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th {
    background-color:  gray;
    color: white;
  }

  td {
    background-color: salmon;
    color: black;
    border: 1px solid black;
    text-align: center;
  }

